$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.table-of-content {
  border: 1px solid #E7E7E7;
  background: #F8F8F8;
  padding: 0 30px;
}

.sub-section {
  margin-left: 20px;
}
