<p>
  Let us reiterate. In order to make web application usable by individuals with disabilities, it is necessary for web developers to follow guidlines laid out by
  <a href="http://www.w3.org/TR/WCAG20/" target="_blank">WCAG</a>. These guidelines ensure that all the meta data that is required by an AT to function
  effecienty is embeded in the DOM, thus makeing the web application seemles for an individual with disability.
</p>

<p>The video below will help you understand what ATs are.</p>

<p>
  <!--<iframe width="420" height="250" src="http://www.youtube.com/embed/L962p6fzF7Y"></iframe>-->
</p>
