<section class="table-of-content">
  <h1>Content</h1>
  <ul>
    <li>
      <h2>What is AT?</h2>
      <ul>
        <li>Why we need AT?</li>
        <li>Looking through an AT's eye</li>
        <li>Philosophy behind AT</li>
      </ul>
    </li>
    <li>
      <h2>Getting started</h2>
      <ul>
        <li>The basics</li>
        <li>How to jumpstart</li>
        <li>External resources</li>
      </ul>
    </li>
    <li>
      <h2>Best practices</h2>
      <ul>
        <li>Tips</li>
        <li>Dos and Don'ts</li>
        <li>What we learnt</li>
      </ul>
    </li>
    <li>
      <h2>Lets code</h2>
      <ul>
        <li>Samples</li>
        <li>Snippets</li>
        <li>How to structure your code</li>
      </ul>
    </li>
  </ul>
</section>


<div class="row">

</div>
