<section class="table-of-content">
  <h1>Content</h1>
  <ul>
    <li ng-repeat="c in content">
      <a href="#{{c.title | idfy}}" onclick="return false" ng-click="scrollTo($event)" ng-bind="c.title"></a>
      <ul>
        <li ng-repeat="sub in c.subTitles">
          <a href="#{{sub.title | idfy}}" onclick="return false" ng-click="scrollTo($event)" ng-bind="sub.title"></a>
        </li>
      </ul>
    </li>
  </ul>
</section>


<div class="row">
  <div class="col-md-12">

    <section ng-repeat="c in content" resource="#{{c.title | idfy}}" id="{{c.title | idfy}}">
      <h2 ng-bind="c.title"></h2>
      <p ng-bind="c.title"></p>
      <section ng-repeat="sub in c.subTitles" resource="#{{sub.tile | idfy}}" id="{{sub.title | idfy}}">
        <h3 ng-bind="sub.title"></h3>
        <p ng-bind="sub.title"></p>
      </section>
    </section>

  </div>
</div>
